.messageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.messageBox {
    position: relative;
    background: #002335;
    border: 2px solid rgba(102, 155, 188, 0.35);
    border-radius: 16px;
    padding: 30px 40px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    max-width: 400px;
    color: #FDF0D5;
}

.messageBox h2 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.messageBox p {
    font-size: 1.1rem;
    margin-bottom: 25px;
    color: rgba(253, 240, 213, 0.8);
}

.winColor h2 {
    color: #669BBC;
}

.loseColor h2 {
    color: #C1121F;
}

.restartBtn {
    background: linear-gradient(180deg, rgba(102, 155, 188, 0.6), rgba(2, 52, 78, 0.773));
    color: #FDF0D5;
    border: 1px solid rgba(102, 155, 188, 0.75);
    font-weight: 800;
    font-size: 1.2rem;
    padding: 10px 25px;
    min-width: 190px;
    border-radius: 12px;
    cursor: pointer;
}

.closeBtn {
    position: absolute;
    top: 7px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.4rem;
    color: rgba(253, 240, 213, 0.6);
    cursor: pointer;
    line-height: 1;
    padding: 5px;
    transition: color 0.2s ease, transform 0.2s ease;
    z-index: 1010;
}